.container {
  width: 310px;
  margin: 0 auto;
}
.title {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}
.result {
  font-size: 20px;
  text-transform: uppercase;
}
.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.button {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.button__good {
  composes: button;
  background-color: rgb(50, 255, 50);
}
.button__neutral {
  composes: button;
  background-color: rgb(50, 50, 255);
}
.button__bad {
  composes: button;
  background-color: rgb(255, 50, 50);
}
.statistics {
  border-radius: 10px;
  background-color: thistle;
  padding: 5px;
}
